doctype html
html(lang="en")
html
  head
    title= 'Books collection'
    //Start adding Bootstrap elements...
    meta(charset="utf-8")
    meta(mame="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    //End adding Bootstrap elements
  body
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
        img(src="images/books.png", alt="logo", style="width:80px;").my-0.mr-md-auto.font-weight-normal
        nav.my-2.my-md-0.mr-md-3
            a.p-2.text-dark(href='/') Home
            a.p-2.text-dark(href='/fiction') Fiction
            a.p-2.text-dark(href='/novel') Novels & Stories
        a.btn.btn-outline-primary(href='#') Sign Up
        form.form-inline.mt-2.mt-md-0
            input.form-control.mr-sm-2(type="text", placeholder="Search",aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="Submit") Search
    block content
    footer.text-muted
    .container
        p.float-right
            a(href='#') Back to top
        p.float-left
            small &copy Thu Ho 2018
  //Bootstrap
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")